{% include "global/partials/head.html" %}
{% include "global/partials/menu.html" %}

<h1>{% block texto %} BASE {% endblock texto %}</h1>

<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A illum fugit voluptates culpa nulla alias amet optio cupiditate pariatur voluptatibus neque beatae quam deleniti nisi, suscipit eius repellendus ipsa impedit.
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sunt rerum blanditiis, vitae nisi neque dolor distinctio eum est, et explicabo vel cum aliquam dolores fugit corrupti nostrum! Temporibus eius nostrum minus, distinctio autem ab quisquam placeat in beatae quod?
    </div>
</article>
</body>
</html>
